<p id="notice"><%= notice %></p>

<p>
  <b>Source:</b>
  <%= @feedback.source %>
</p>

<p>
  <b>Message:</b>
  <%= @feedback.message %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>



